<h1>IRKit管理</h1>

<div>
  <% @commands.each do |command| %>
    <%= link_to command.name, '#', class: 'btn btn-primary', data: {command: command.id} %>
  <% end %>
</div>

<script>
$(document).on('click', '.btn', function(e){
  e.preventDefault();
  $.ajax({
    type: 'POST',
    url: '<%= irkit_post_path %>',
    data: {command_id: $(this).data('command')}
  });
});
</script>